absl-py==0.1.11
astor==0.6.2
backports.weakref==1.0.post1
bleach==1.5.0
click==6.6
enum34==1.1.6
Flask==0.11.1
funcsigs==1.0.2
futures==3.2.0
gast==0.2.0
grpcio==1.10.0
html5lib==0.9999999
itsdangerous==0.24
Jinja2==2.8
Markdown==2.6.11
MarkupSafe==0.23
mock==2.0.0
numpy==1.14.1
pbr==3.1.1
protobuf==3.1.0
six==1.11.0
tensorboard==1.6.0
tensorflow==0.12.0
tensorflow-serving-api==1.5.0
termcolor==1.1.0
Werkzeug==0.11.10
